* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.fixTop {    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.anchor {
    height: 0;
    position: relative;
    top: -101px;
    width: 0;
}

.section {
    background: #120510; 
    border: 1px solid transparent;  
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
    min-height: 1080px;
}

.section:nth-of-type(even) {
    background: #F2F2F2;
}

.section .section__wrapper {
    margin: auto;
    max-width: 1380px;
}

.section .section__caption {
    color: #CB0E74;
    font-size: 48px;
    font-variant: small-caps;   
    font-weight: 700; 
    line-height: 59px;
    margin: 76px 0 100px 0;
}

.section .section__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.header.section {   
    min-height: 100px;
}

.header.section .section__content {
    min-height: 98px;
}

.header .header__logo {
    left: -60px;
    margin: 4px 0 0 1px;
    position: relative; 
}

@media (max-width: 1520px) {
    .header .header__logo {
        position: static;
    }
}

.header .header__menu {
    flex-basis: 785px;    
    margin: 11px 0 0 0;
}

.menu .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0; 
    margin: 0;
}

.menu .menu__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;    
}

.menu .menu__link:hover {
    color: #CB0E74;
}

.main {
    margin-top: 100px;
}

/* .general.section {
    min-height: 980px;
} */

.general .general__info {
    margin: -26px 0 0 0;
}

.general.section .section__content {
    flex-wrap: wrap-reverse;
    min-height: 978px;
}

.info .info__content {
    margin: 100px 0 0 0;
}

.info .info__caption {
    color: #fff;
    font-size: 84px;    
    font-variant: small-caps;
    font-weight: 700;
    line-height: 102px;  
    margin: 0 0 0 1px;
}

.info .info__caption--pink {
    color: #CB0E74;
    font-weight: 700;
}

.info .info__description {
    color: #D295B6;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin: 88px 0 55px 7px;
    max-width: 400px;
    text-transform: lowercase;
}

.info .info__button {
    margin: 0 37px 20px 7px;
}

.info .info__button:last-of-type {
    margin: 0 0 0 7px;
}

.info .info__image {
    margin: 100px 25px 0 0;
}

.button {
    background: #120510;
    border: 1px solid #CB0E74;
    border-radius: 160px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 54px;
    line-height: 24px;        
    outline: none;
    text-transform: lowercase;   
    width: 257px;     
}

.button:active {
    cursor: none;
}

.button--pink {
    background: #CB0E74;
    color: #120510;
}

.opportunities.section .section__content {
    display: block;
    margin: -58px 0 0 0;
}

.features .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;    
    padding: 0;
}

.features .features__item { 
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 40px 0;
    max-width: 259px;
    padding-top: 175px;
    position: relative;
    text-transform: lowercase;
}

.features .features__item:nth-of-type(n+4) {
    margin: 0;
}

.features .features__item:nth-of-type(3n+1) {
    justify-self: start;
}

.features .features__item:nth-of-type(3n+2) {
    justify-self: center;
}

.features .features__item:nth-of-type(3n+3) {
    justify-self: end;
}

.features .features__item::first-letter {
    color: #CB0E74; 
    font-size: 48px;
    line-height: 1;    
    text-transform: lowercase; 
}

.features .features__item::before {
    content: '';
    display: block;
    height: 148px;
    position: absolute;
    top: 0;
    width: 162px;
}

.features .features__item--image01::before {
    background: url("assets/images/feature01.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.features .features__item--image02::before {
    background: url("assets/images/feature02.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.features .features__item--image03::before {
    background: url("assets/images/feature03.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.features .features__item--image04::before {
    background: url("assets/images/feature04.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.features .features__item--image05::before {
    background: url("assets/images/feature05.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.features .features__item--image06::before {
    background: url("assets/images/feature06.png") no-repeat left bottom,
    url("assets/images/pinkRectangle.jpg") no-repeat right top;
}

.liveMonitor.section .section__content {
    flex-direction: column;
}

.liveMonitor .liveMonitor__info2 {
    margin: 70px 0 0 0;
}

.info2 {
    display: flex;
    flex-wrap: wrap;    
}

.info2 .info2__image {
    margin: 0 40px 0 0;
}

.info2 .info2__content {
    border-bottom: 74px solid transparent;
    border-left: 49px solid transparent;
    border-right: 39px solid transparent;
    border-top: 56px solid transparent;    
    box-sizing: border-box;    
    margin: 0 50px 0 0;
    max-height: 395px;
    max-width: 590px;
    position: relative;
}

.info2 .info2__caption {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin: 0;
}

.info2 .info2__description {
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin: 25px 0 0 0;
}

.arrow {
    border: none;
    cursor: pointer;
    height: 21px;
    outline: none;;
    width: 31px;   
}

.arrow:active {
    cursor: none;
}

.arrow.arrow--white {
    background: url("assets/images/arrowWhite.svg") center no-repeat;
}

.arrow.arrow--pink {
    background: url("assets/images/arrowPink.svg") center no-repeat;
}

.info2 .info2__arrow {
    position: absolute;
    bottom: -148px;
    right: 0;
    z-index: 10;
}

.info2 .info2__arrow:last-of-type {
    right: -43px;
}

.liveMonitor .button {
    margin: 256px 0 0 -2px;
}

.feedback.section {
    min-height: 830px;
}

.feedback.section .section__content {
    justify-content: center;
}

.feedback.section .section__caption {
    margin: 48px 0 73px 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
}

.form .form__description {
    color: #120510;
    font-size: 20px;
    font-weight: 500;    
    line-height: 40px;
    margin: 0 0 80px 0;
    text-transform: lowercase;        
}

.form .form__input {    
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 8px rgba(92, 99, 110, 0.15); 
    color: #343434;   
    flex-basis: 317px;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;  
    margin: 0 0 32px 0;   
    min-height: 46px;
    padding: 0 0 0 23px;
}

.form .form__textarea {
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 8px rgba(92, 99, 110, 0.15);    
    color: #343434;
    flex-basis: 750px;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;       
    margin: 0 0 66px 0;
    max-height: 210px;
    padding: 18px 0 0 23px;
    resize: none;
}

.form .form__submit {
    margin: auto;
}

.footer {
    min-height: 200px;    
}

.footer.section .section__content {
    flex-direction: column;
}

.contacts {
    align-self: flex-end;
    margin: 30px 7px 0 0;
}

.contacts .contacts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    list-style: none;
    padding: 0;
}

.contacts .contacts__link {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: right;
    text-transform: lowercase;
    text-decoration: none;
}

.contacts .contacts__link:hover {
    color: #CB0E74;
}

.copyright {
    color: #C4C4C4;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: center;
    margin: auto;
}

@media (max-width: 2048px) {    
    .section {
        min-height: 91.5254vh;
    }
    
    .section .section__wrapper {
        margin: auto;
        max-width: 71.875vw;
    }

    .section .section__caption {
        color: #CB0E74;
        font-size: 48px;
        font-variant: small-caps;   
        font-weight: 700; 
        line-height: 59px;
        margin: 6.4407vh 0 8.4746vh 0;
    }
    
    .section .section__content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
    }
    
    .header.section {   
        min-height: 100px;
    }
    
    .header.section .section__content {
        min-height: 98px;
    }
    
    .header .header__logo {
        left: -60px;
        margin: 4px 0 0 1px;
        position: relative; 
    }
    
    @media (max-width: 1520px) {
        .header .header__logo {
            position: static;
        }
    }
    
    .header .header__menu {
        flex-basis: 785px;    
        margin: 11px 0 0 0;
    }
    
    .menu .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0; 
        margin: 0;
    }
    
    .menu .menu__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;    
    }
    
    .menu .menu__link:hover {
        color: #CB0E74;
    }
    
    .main {
        margin-top: 100px;
    }
    
    /* .general.section {
        min-height: 980px;
    } */
    
    .general .general__info {
        margin: -26px 0 0 0;
    }
    
    .general.section .section__content {
        flex-wrap: wrap-reverse;
        min-height: 82.8814vh;
    }
    
    .info .info__content {
        margin: 100px 0 0 0;
    }
    
    .info .info__caption {
        color: #fff;
        font-size: 84px;    
        font-variant: small-caps;
        font-weight: 700;
        line-height: 102px;  
        margin: 0 0 0 1px;
    }
    
    .info .info__caption--pink {
        color: #CB0E74;
        font-weight: 700;
    }
    
    .info .info__description {
        color: #D295B6;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        margin: 88px 0 55px 7px;
        max-width: 400px;
        text-transform: lowercase;
    }
    
    .info .info__button {
        margin: 0 37px 20px 7px;
    }
    
    .info .info__button:last-of-type {
        margin: 0 0 0 7px;
    }
    
    .info .info__image {
        height: 50vh;
        margin: 100px 25px 0 0;
    }
    
    .button {
        background: #120510;
        border: 1px solid #CB0E74;
        border-radius: 160px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        height: 54px;
        line-height: 24px;        
        outline: none;
        text-transform: lowercase;   
        width: 257px;     
    }
    
    .button:active {
        cursor: none;
    }
    
    .button--pink {
        background: #CB0E74;
        color: #120510;
    }
    
    .opportunities.section .section__content {
        display: block;
        margin: -4.9153vh 0 0 0;
    }
    
    .features .features__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;    
        padding: 0;
    }
    
    .features .features__item { 
        color: #000000;
        font-size: 1.6949vh;
        font-weight: 700;
        line-height: 2.0339vh;
        margin: 0 0 3.3898vh 0;
        max-width: 259px;
        padding-top: 14.8305vh;
        position: relative;
        text-transform: lowercase;
    }
    
    .features .features__item:nth-of-type(n+4) {
        margin: 0;
    }
    
    .features .features__item:nth-of-type(3n+1) {
        justify-self: start;
    }
    
    .features .features__item:nth-of-type(3n+2) {
        justify-self: center;
    }
    
    .features .features__item:nth-of-type(3n+3) {
        justify-self: end;
    }
    
    .features .features__item::first-letter {
        color: #CB0E74; 
        font-size: 4.0678vh;
        line-height: 1;    
        text-transform: lowercase; 
    }
    
    .features .features__item::before {
        content: '';
        display: block;
        height: 12.5424vh;
        position: absolute;
        top: 0;
        width: 162px;
    }
    
    .features .features__item--image01::before {
        background: url("assets/images/feature01-2.png") no-repeat;
        background-size: contain;
    }
    
    .features .features__item--image02::before {
        background: url("assets/images/feature02-2.png") no-repeat;
        background-size: contain;
    }
    
    .features .features__item--image03::before {
        background: url("assets/images/feature03-2.png") no-repeat;
        background-size: contain;
    }
    
    .features .features__item--image04::before {
        background: url("assets/images/feature04-2.png") no-repeat;
        background-size: contain;
    }
    
    .features .features__item--image05::before {
        background: url("assets/images/feature05-2.png") no-repeat;
        background-size: contain;
    }
    
    .features .features__item--image06::before {
        background: url("assets/images/feature06-2.png") no-repeat;
        background-size: contain;
    }
    
    .liveMonitor.section .section__content {
        flex-direction: column;
    }
    
    .liveMonitor .liveMonitor__info2 {
        margin: 0;
    }
    
    .info2 {
        display: flex;
        flex-wrap: wrap;    
    }
    
    .info2 .info2__image {
        height: 32.5vh;
        margin: auto 0 auto 0;
    }
    
    .info2 .info2__content {
        border-bottom: 74px solid transparent;
        border-left: 49px solid transparent;
        border-right: 39px solid transparent;
        border-top: 56px solid transparent;    
        box-sizing: border-box;    
        margin: 0 50px 0 0;
        max-height: 395px;
        max-width: 590px;
        position: relative;
    }
    
    .info2 .info2__caption {
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.2px;
        line-height: 24px;
        margin: 0;
    }
    
    .info2 .info2__description {
        color: #FFFFFF;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 24px;
        margin: 25px 0 0 0;
    }
    
    .arrow {
        border: none;
        cursor: pointer;
        height: 21px;
        outline: none;;
        width: 31px;   
    }
    
    .arrow:active {
        cursor: none;
    }
    
    .arrow.arrow--white {
        background: url("assets/images/arrowWhite.svg") center no-repeat;
    }
    
    .arrow.arrow--pink {
        background: url("assets/images/arrowPink.svg") center no-repeat;
    }
    
    .info2 .info2__arrow {
        position: absolute;
        bottom: -8vh;
        right: 0;
        z-index: 10;
    }
    
    .info2 .info2__arrow:last-of-type {
        right: -43px;
    }
    
    .liveMonitor .button {
        margin: 8vh 0 0 -2px;
    }
    
    .feedback.section {
        min-height: 70.3390vh;
    }
    
    .feedback.section .section__content {
        justify-content: center;
    }
    
    .feedback.section .section__caption {
        margin: 4.0678vh 0 2.5vh 0;
    }
    
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 750px;
    }
    
    .form .form__description {
        color: #120510;
        font-size: 20px;
        font-weight: 500;    
        line-height: 30px;
        margin: 0 0 2.2vh 0;
        text-transform: lowercase;        
    }
    
    .form .form__input {    
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 4px 8px rgba(92, 99, 110, 0.15); 
        color: #343434;   
        flex-basis: 317px;
        font-size: 15px;
        letter-spacing: 0.2px;
        line-height: 24px;  
        margin: 0 0 2.2vh 0;   
        min-height: 46px;
        padding: 0 0 0 32px;
    }
    
    .form .form__textarea {
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 4px 8px rgba(92, 99, 110, 0.15);    
        color: #343434;
        flex-basis: 750px;
        font-size: 15px;
        letter-spacing: 0.2px;
        line-height: 24px;       
        margin: 0 0 2.2vh 0;
        max-height: 210px;
        padding: 18px 0 0 23px;
        resize: none;
    }
    
    .form .form__submit {
        margin: auto;
    }
    
    .footer {
        min-height: 200px;    
    }
    
    .footer.section .section__content {
        flex-direction: column;
    }
    
    .contacts {
        align-self: flex-end;
        margin: 30px 7px 0 0;
    }
    
    .contacts .contacts__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;   
        list-style: none;
        padding: 0;
    }
    
    .contacts .contacts__link {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        text-align: right;
        text-transform: lowercase;
        text-decoration: none;
    }
    
    .contacts .contacts__link:hover {
        color: #CB0E74;
    }
    
    .copyright {
        color: #C4C4C4;
        font-size: 15px;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-align: center;
        margin: auto;
    }
}